<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <h1 align="center">Best Blog</h1>
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10">
                    <h2 th:if="${#lists.isEmpty(posts)}">No posts</h2>
                    <div th:if="${not #lists.isEmpty(posts)}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            </thead>
                            <tbody>
                            <tr th:each="post : ${posts}">
                                <td><b th:text="${post.title}"></b></td>
                                <td th:text="${#temporals.format(post.lastModified, 'dd.MM.yyyy')}"></td>
                                <td th:text="${#strings.abbreviate(post.body, 40)}"></td>
                                <td>
                                    <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-primary">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/post/{id}/delete(id=${post.id})}" class="btn btn-primary">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="my-5">
        <a href="/post" class="btn btn-primary">
            <i class="fas fa-plus-square"></i> New Post </a>
    </p>
</div>
</body>

</html>