<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <div>
        <h3 th:text="${post.title}"></h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <p th:utext="${post.body}"></p>
                <p><small th:text="${#temporals.format(post.lastModified, 'dd-MM-yyyy HH:mm')}">Last modified</small></p>
            </div>
        </div>
    </div>
        <a th:href="@{/post/edit/{id}(id=${post.id})}" class="btn btn-primary">
            <i class="far fa-edit"></i>
        </a>
        <a th:href="@{/post/{id}/delete(id=${post.id})}" class="btn btn-primary">
            <i class="far fa-trash-alt"></i>
        </a>
    </div>
</div>
</body>

</html>